*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
}

/* variable color */
    :root{
        --button-color:rgba(230, 83, 60, 1);
    }

/* shared styles */

.container{
    max-width: 1060px;
    margin: 0 auto;
}
.section-heading{
    display: flex;
    justify-content: center;
    
}
.inner-section-heading{
    text-align: center;
    max-width: 671px;
    
}
.section-title{
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
}
.section-info, .card-info{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
}
.flex{
    display: flex;
}
.logo-text{
    color: rgba(230, 83, 60, 1);
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    font-style: italic;

}
.primary-btn{
    background-color: var(--button-color);
    border-style: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
    padding: 16px 46px;
    border-radius: 42px;
    border: 1px solid var(--button-color);
    transition: all 0.3s;
}
.primary-btn:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: #ec452c;
}
.secondery-btn{
    background-color: transparent;
    border: 1px solid #fff;
}

/* normal styles */
header{
    padding: 40px 0;
    background: linear-gradient(180deg, rgba(17.41, 17.41, 17.41, 1)0%, rgba(17.41, 17.41, 17.41, 0)100%);
}
#header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#header-nav ul{
    display: flex;
    gap: 47px;
    align-items: center;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px 20px 4px 4px;
    border-radius: 39px;
}
#header-nav ul .home{
    background-color: var(--button-color);
    padding: 8px 20px;
    border-radius: 46px;
}
#header-nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 120%;
    
}
#header-nav .menu-icon{
    display: none;
}

/* banner section */
#banner{
    margin-top: 32px;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 520px;
}
#banner .banner-content .banner-title{
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 28px;
}
#banner .banner-content .banner-description{
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
}
#banner .banner-content .button-container{
    gap: 14px;

}
#banner .image-container{
    position: relative;
}
#banner .image-container img{
    max-width: 100%;
}
#banner .image-container .tool-kit{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    max-width: max-content;
    position: absolute;
    text-align: left;
}
#banner .image-container .tool-kit .number{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
#banner .image-container .tool-kit .info{
    font-size: 14px;
    opacity: 0.5;
}
#banner .image-container .tool-kit-1{
    top: 125px;
    right: -37px;
}
#banner .image-container .tool-kit-1 .number{
    font-size: 38px;
}
#banner .image-container .tool-kit-2 {
    align-items: center;
    gap: 10px;
    left: -63px;
    bottom: 63px;
}
#banner .image-container .tool-kit-2 .ball{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--button-color);
}
/* habits card section */
#habit-section{
    margin-top: 60px;
}
#habit-section .habit-card-container{
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
}
#habit-section .habit-card-container .card{
    text-align: center;
}
#habit-section .habit-card-container .card img{
    border-radius: 50%;
    margin-bottom: 26px;
}
#habit-section .habit-card-container .card .card-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 6px;
}
#habit-section .habit-card-container .card .card-info{
    line-height: 18px;
}

/* run section */
#run {
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: rgba(34, 34, 34, 1);
    border-radius: 12px;
}
#run .run-content{
    max-width: 40%;
}
#run .run-content .run-btn{
    margin-top: 34px;
    padding: 16px 71px;
}
#run .image-container{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    background: url(../images/run.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  right top;
}

/* trainings section */
#trainings{
    margin-top: 100px;

}
#trainings>.section-info{
    max-width: 671px;
}
#trainings .trainings-images-container{
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,200px);
}
#trainings .trainings-images-container .item{
    background-blend-mode: multiply;

}
#trainings .trainings-images-container .item-1{
    background-color: rgba(6, 255, 210, 0.5);
    background-image: url(../images/exercise1.jpg);
    background-size: 323px 218px;
}
#trainings .trainings-images-container .item-2{
    /* background-color: rgba(6, 255, 210, 0.5);
    background-image: url(../images/exercise2.png);
    background-size: 539px 256px; */
    background: url(../images/exercise2.png),rgba(255, 0, 0, 0.3);
    background-size: 539px 256px;
    grid-column: 2/span 2;
}
#trainings .trainings-images-container .item-3{
    background: url(../images/exercise3.png),rgba(0, 0, 0, 0.5);
    background-size: 539px 256px;
}
#trainings .trainings-images-container .item-4{
    background: url(../images/exercise4.png),rgba(0, 0, 0, 0.5);
    background-size: 483px 240px;
    grid-column: span 2;
    justify-items: end;
    padding: 20px 50px;
}
#trainings .trainings-images-container .item-5{
    background: url(../images/exercise5.jpg),rgba(66, 255, 0, 0.6);
    background-size: 288px 201px;
    align-content: end;
}
#trainings .trainings-images-container .item-6{
    background: url(../images/exercise6.jpg),rgba(0, 71, 255, 0.3);
    background-size: 376px 250px;
    text-align: right;
}




/* responsive styles for ipad mini*/

@media screen and (max-width:768px) {
    /* shared styles */
    .container{
    max-width: 90%;
}

    /* header section */
    #header-nav ul{
        gap: 20px;
    }
    /* banner section */
    #banner {
        flex-direction: column;
        gap: 100px;
    }
    #banner .banner-content{
    max-width: 600px;
}
    #banner .image-container{
        text-align: center;
    }
    #banner .image-container .tool-kit-1{
    top: 59px;
    right: -17px;
}
    #banner .image-container .tool-kit-2{
        bottom: 130px;
        left: -25px;
    }

    /* habits card section */
    .inner-section-heading{
    text-align: center;
    max-width: 475px;
    
    }
    #habit-section .habit-card-container{
    max-width: 70%;
    margin: 58px auto 0;
    grid-template-columns: repeat(2,1fr);
    }

    /* run section */
    #run .image-container{
        max-width: 256px;
        background-position: center;
    }
    .run-tiltle{
        font-size: 36px
    }
    
}




    /* mobile responsive */

@media screen and (max-width:430px) {
    /* shared styles */
    .container{
    max-width: 90%;
    }
    .section-title{
        font-size: 32px;
    }
    .primary-btn {
        padding: 16px 38px;
    }
    .primary-btn .club{
        display: none;
    }

    /* header section */
    #header-nav .menu-icon{
    display: block;
    }
    #header-nav .menu-icon i{
        font-size: 24px;
    }
    #header-nav ul{
        display: none;
    }

    /* banner section */
    #banner .banner-content .banner-title{
        font-size: 36px;
        max-width: 285px;
    }


    /* habits-section */
    #habit-section{
    margin-top: 30px;
    }
    #habit-section .habit-card-container{
    max-width: 70%;
    margin: 58px auto 0;
    grid-template-columns: 1fr;
    }

    /* run-section */
    #run{
        flex-direction: column;
        padding: 33px;
        gap: 31px;
        margin-top: 66px;

    }
    #run .run-content{
    max-width: 100%;
    }
    #run .run-content .run-btn{
        width: 100%;
    }
    #run .image-container{
        max-width: 100%;
        height: 170px;
    }



    /* TRANINGS SECTION */
    #trainings{
    margin-top: 66px;

    }
    #trainings .trainings-images-container{
    margin-top: 38px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,126px);
    }
    #trainings .trainings-images-container .item-3, 
    #trainings .trainings-images-container .item-6{
        display: none;
    }
    #trainings .trainings-images-container .item-2{
    background-size: cover;
    grid-column: auto;
    }
    #trainings .trainings-images-container .item-4{
    background-size: cover;
    grid-column: auto;
    }
}