*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
}

/* variable color */
    :root{
        --button-color:rgba(230, 83, 60, 1);
    }

/* shared styles */

.container{
    max-width: 1060px;
    margin: 0 auto;
}
.section-heading{
    display: flex;
    justify-content: center;
    
}
.inner-section-heading{
    text-align: center;
    max-width: 671px;
    
}
.section-title{
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 14px;
}
.section-info, .card-info{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
}
.flex{
    display: flex;
}
.logo-text{
    color: rgba(230, 83, 60, 1);
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    font-style: italic;

}
.primary-btn{
    background-color: var(--button-color);
    border-style: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
    padding: 16px 46px;
    border-radius: 42px;
    border: 1px solid var(--button-color);
    transition: all 0.3s;
}
.primary-btn:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: #ec452c;
}
.secondery-btn{
    background-color: transparent;
    border: 1px solid #fff;
}

/* normal styles */
header{
    padding: 40px 0;
    background: linear-gradient(180deg, rgba(17.41, 17.41, 17.41, 1)0%, rgba(17.41, 17.41, 17.41, 0)100%);
}
#header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#header-nav ul{
    display: flex;
    gap: 47px;
    align-items: center;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 4px 20px 4px 4px;
    border-radius: 39px;
}
#header-nav ul .home{
    background-color: var(--button-color);
    padding: 8px 20px;
    border-radius: 46px;
}
#header-nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 120%;
    
}
#header-nav .menu-icon{
    display: none;
}

/* banner section */
#banner{
    margin-top: 32px;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 520px;
}
#banner .banner-content .banner-title{
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 28px;
}
#banner .banner-content .banner-description{
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
}
#banner .banner-content .button-container{
    gap: 14px;

}
#banner .image-container{
    position: relative;
}
#banner .image-container img{
    max-width: 100%;
}
#banner .image-container .tool-kit{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    max-width: max-content;
    position: absolute;
    text-align: left;
}
#banner .image-container .tool-kit .number{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
#banner .image-container .tool-kit .info{
    font-size: 14px;
    opacity: 0.5;
}
#banner .image-container .tool-kit-1{
    top: 125px;
    right: -37px;
}
#banner .image-container .tool-kit-1 .number{
    font-size: 38px;
}
#banner .image-container .tool-kit-2 {
    align-items: center;
    gap: 10px;
    left: -63px;
    bottom: 63px;
}
#banner .image-container .tool-kit-2 .ball{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--button-color);
}


/* habits card section */
#habit-section{
    margin-top: 60px;
}
#habit-section .habit-card-container{
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
}
#habit-section .habit-card-container .card{
    text-align: center;
}
#habit-section .habit-card-container .card img{
    border-radius: 50%;
    margin-bottom: 26px;
}
#habit-section .habit-card-container .card .card-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 6px;
}
#habit-section .habit-card-container .card .card-info{
    line-height: 18px;
}
/* responsive styles for ipad mini*/

@media screen and (max-width:768px) {
    /* shared styles */
    .container{
    max-width: 90%;
}

    /* header section */
    #header-nav ul{
        gap: 20px;
    }
    /* banner section */
    #banner {
        flex-direction: column;
        gap: 100px;
    }
    #banner .banner-content{
    max-width: 600px;
}
    #banner .image-container{
        text-align: center;
    }
    #banner .image-container .tool-kit-1{
    top: 59px;
    right: -17px;
}
    #banner .image-container .tool-kit-2{
        bottom: 130px;
        left: -25px;
    }

    /* habits card section */
    .inner-section-heading{
    text-align: center;
    max-width: 475px;
    
    }
    #habit-section .habit-card-container{
    max-width: 70%;
    margin: 58px auto 0;
    grid-template-columns: repeat(2,1fr);
    }
}




    /* mobile responsive */

@media screen and (max-width:430px) {
    /* shared styles */
    .container{
    max-width: 90%;
    }
    .section-title{
        font-size: 32px;
    }
    .primary-btn {
        padding: 16px 38px;
    }
    .primary-btn .club{
        display: none;
    }

    /* header section */
    #header-nav .menu-icon{
    display: block;
    }
    #header-nav .menu-icon i{
        font-size: 24px;
    }
    #header-nav ul{
        display: none;
    }

    /* banner section */
    #banner .banner-content .banner-title{
        font-size: 36px;
        max-width: 285px;
    }


    /* habits-section */

    #habit-section .habit-card-container{
    max-width: 70%;
    margin: 58px auto 0;
    grid-template-columns: 1fr;
    }

}